/* Font */
@font-face {
    font-family:"Moontime";
    src: url("resources/fonts/MoonTime-Regular-1.ttf") format("truetype");
}
@font-face {
    font-family:"Aileron";
    src: url("resources/fonts/aileron/Aileron-Regular.otf") format("truetype");
}
@font-face {
    font-family:"Aileron Light";
    src: url("resources/fonts/aileron/Aileron-Light.otf") format("truetype");
}
@font-face {
    font-family:"Aileron Italic";
    src: url("resources/fonts/aileron/Aileron-Italic.otf") format("truetype");
}
@font-face {
    font-family:"Aileron Bold";
    src: url("resources/fonts/aileron/Aileron-Bold.otf") format("truetype");
}
/* Colors */
.bg-white{
    background-color: #ffffff;
}
.bg-primary {
    background-color: #ede0d4;
}
.bg-secondary{
    background-color: #ffeee6;
}
.bg-tertiary{
    background-color: #f9e4dc;
}

@media (min-width:320px),(min-width:481px),(min-width:641px),(min-width:961px) {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    /* tablet, landscape iPad, lo-res laptops ands desktops */
   .section{
       max-height: 600px;
    }
    .title{
        font-family: "Moontime";
        position: absolute;
        font-size: 6em;
        color: #80543c;
        left: 0.6em;
        top: 0.4em;
    }

    .subtitle{
        font-family: "Aileron Italic";
        position: absolute;
        font-size: 2em;
        color: #80543c;
        left: 1.75em;
        top: 5em;
    }

    .about{
        font-family: "Aileron Bold";
        position: absolute;
        font-size: 2em;
        color: #80543c;
        left: 1.75em;
        top: 9em;
    }

    .description {
        font-family: "Aileron Light";
        position: absolute;
        font-size: 1.4em;
        color: #80543c;
        left: 2.5em;
        top: 14em;
        width: 80%;
        overflow-wrap: break-word;
    }
}
@media (min-width:1025px),(min-width:1281px){
    /* big landscape tablets, laptops, and desktops */
    /* hi-res laptops and desktops */ 
    .section{
       max-height: 800px;
    }
    .title{
        font-family: "Moontime";
        text-shadow: rgb(222, 220, 220) 1px 5px 5px;
        position: absolute;
        font-size: 8em;
        color: #80543c;
        left: 0.5em;
        top: 0.4em;
    }

    .subtitle{
        font-family: "Aileron Italic";
        position: absolute;
        font-size: 2.4em;
        color: #80543c;
        left: 1.75em;
        top: 6em;
    }

    .about{
        font-family: "Aileron Bold";
        position: absolute;
        font-size: 2.4em;
        color: #80543c;
        left: 1.75em;
        top: 10em;
    }

    .description {
        font-family: "Aileron Light";
        position: absolute;
        font-size: 1.7em;
        color: #80543c;
        left: 2.5em;
        top: 15.2em;
        width: 80%;
        overflow-wrap: break-word;
    }
}
body{
   padding: 0;
   margin: 0;
}
.section{
   position: relative;
   margin: 0%;
   width: 100%;
   height: 95%;
}
.section-space{
    position: relative;
    margin: 0%;
    width: 100%;
    height: 5%;
 }
.section img{
   width: 100%;
   height: 100%;
}
img.cover{
    width: 50%;
    height: 100%;
    float: left;
 }
 .about-section {
     position: absolute;
     width: 70%;
     height: 100%;
 }
 .about-image {
    position: absolute;
    width: 30%;
    right: 0%;
    height: 100%;
}
.about-image img{
    position: relative;
    top: 10%;
    left: -10%;
    width: 100%;
    height: 80%;
}

.autor{
    font-family: "Aileron";
    color: #80543c;
    font-size: 1.48em;
    position: absolute;
    transform: rotate(90deg);
    top: 9.2em;
    left: -3.2em;
}