html, body { 
    height: 100%;
    width: 100%;
}
/* Font */
@font-face {
    font-family:"Moontime";
    src: url("resources/fonts/MoonTime-Regular-1.ttf") format("truetype");
}
@font-face {
    font-family:"Aileron";
    src: url("resources/fonts/aileron/Aileron-Regular.otf") format("truetype");
}
@font-face {
    font-family:"Aileron Light";
    src: url("resources/fonts/aileron/Aileron-Light.otf") format("truetype");
}
@font-face {
    font-family:"Aileron Italic";
    src: url("resources/fonts/aileron/Aileron-Italic.otf") format("truetype");
}
@font-face {
    font-family:"Aileron Bold";
    src: url("resources/fonts/aileron/Aileron-Bold.otf") format("truetype");
}
/* Colors */
.bg-white{
    background-color: #ffffff;
}
.bg-primary {
    background-color: #ede0d4;
}
.bg-secondary{
    background-color: #ffeee6;
}
.bg-tertiary{
    background-color: #f9e4dc;
}

@media (min-width:320px),(min-width:481px),(min-width:641px),(min-width:961px) {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    /* tablet, landscape iPad, lo-res laptops ands desktops */
   .section{
       max-height: 600px;
    }
    .title{
        font-family: "Moontime";
        position: absolute;
        font-size: 6em;
        color: #80543c;
        left: 0.6em;
        top: 0.4em;
    }

    .subtitle{
        font-family: "Aileron Italic";
        position: absolute;
        font-size: 2em;
        color: #80543c;
        left: 1.75em;
        top: 5em;
    }

    .about{
        font-family: "Aileron Bold";
        position: absolute;
        font-size: 2em;
        color: #80543c;
        left: 1.75em;
        top: 9em;
    }

    .description {
        font-family: "Aileron Light";
        position: absolute;
        font-size: 1.4em;
        color: #80543c;
        left: 2.5em;
        top: 14em;
        width: 80%;
        overflow-wrap: break-word;
    }

    .crochet-subtitle {
        position: absolute;
        top: 82%;
        left: 0%;
        width: 100%;
        text-align: center;
        font-family: "Aileron Bold";
        font-size: 1.2em;
        color: #80543c;
    }
    
    .crochet-projects {
        position: absolute;
        top: 87%;
        left: 12%;
        width: 76%;
        text-align: center;
        font-family: "Aileron Light";
        font-size: 1em;
        color: #80543c;
    }

    .author-rights::before{
        content: '';
        position: absolute;
        left: -1.68em;
        top: 0.9em;
        border-left: 1.3em solid transparent;
        border-right: 1.3em solid transparent;
        border-bottom: 0.8em solid #805538;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        display: inline-block;
    }
}
@media (min-width:1025px),(min-width:1281px){
    /* big landscape tablets, laptops, and desktops */
    /* hi-res laptops and desktops */ 
    .section{
       max-height: 800px;
    }
    .title{
        font-family: "Moontime";
        text-shadow: rgb(222, 220, 220) 1px 5px 5px;
        position: absolute;
        font-size: 8em;
        color: #80543c;
        left: 0.5em;
        top: 0.4em;
    }

    .subtitle{
        font-family: "Aileron Italic";
        position: absolute;
        font-size: 2.4em;
        color: #80543c;
        left: 1.75em;
        top: 6em;
    }

    .about{
        font-family: "Aileron Bold";
        position: absolute;
        font-size: 2.4em;
        color: #80543c;
        left: 1.75em;
        top: 10em;
    }

    .description {
        font-family: "Aileron Light";
        position: absolute;
        font-size: 1.7em;
        color: #80543c;
        left: 2.5em;
        top: 15.2em;
        width: 80%;
        overflow-wrap: break-word;
    }

    .crochet-subtitle {
        position: absolute;
        top: 82%;
        left: 0%;
        width: 100%;
        text-align: center;
        font-family: "Aileron Bold";
        font-size: 1.5em;
        color: #80543c;
    }
    
    .crochet-projects {
        position: absolute;
        top: 87%;
        left: 12%;
        width: 76%;
        text-align: center;
        font-family: "Aileron Light";
        font-size: 1.25em;
        color: #80543c;
    }

    .author-rights::before{
        content: '';
        position: absolute;
        left: -2.18em;
        top: 1.2em;
        border-left: 1.7em solid transparent;
        border-right: 1.7em solid transparent;
        border-bottom: 1em solid #805538;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        display: inline-block;
    }
}
body{
   padding: 0;
   margin: 0;
}
.section{
   position: relative;
   margin: 0%;
   width: 100%;
   height: 95%;
}
.section-space{
    position: relative;
    margin: 0%;
    width: 100%;
    height: 5%;
 }
.section img{
   width: 100%;
   height: 100%;
}
img.cover{
    width: 50%;
    height: 100%;
    float: left;
 }
 .about-section {
     position: absolute;
     width: 70%;
     height: 100%;
 }
 .about-image {
    position: absolute;
    width: 30%;
    right: 0%;
    height: 100%;
}
.about-image img{
    position: relative;
    top: 10%;
    left: -10%;
    width: 100%;
    height: 80%;
}

.autor{
    font-family: "Aileron";
    color: #80543c;
    font-size: 1.48em;
    position: absolute;
    transform: rotate(90deg);
    top: 9.2em;
    left: -3.2em;
}

.section-50{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.section-50 .img-left {
    position: relative;
    left: 0%;
    top: 0%;
    width: 55%;
    height: 75%;
}

.section-50 .img-right {
    position: relative;
    left: 45%;
    top: 0%;
    width: 55%;
    height: 75%;
}

.section-center-bottom {
    position: absolute;
    width: 30%;
    height: 40%;
    top: 60%;
    left: 35%;
}
.crochet-section{
    width: 100%;
    height: 100%;
}

.crochet-section img{
    position: relative;
    border-radius: 8%;
    margin-left: 6%;
    top: 30%;
    height: 50%;
}

.crochet-section img:first-child{
    width:28%;
}
.crochet-section img:nth-child(2){
    width:20%;
}

.crochet-section img:nth-child(3){
    width:28%;
}

.author-rights{
    position: absolute;
    top:71%;
    left:75%;
    width: 20%;
    height: 7%;
    line-height: 40px;
    padding-left: 3px;
    text-align: left;
    background-color: #805538;
    color: #fefcfc;
    font-family: "Aileron Bold";
    font-size: 1em;
}

.author-rights a{
    text-decoration: none;
    color: #fefcfc;
}

.crochet{
    color: #825235;
}